Repository BEAST-Fitting/beast, pull requests merged in 2019-10, with the labels that each got.

#392 Clarified, fixed, and tidied bunch of install instructions; moved phat_small example to new page
  docs/beast_development.rst
  docs/example.rst
  docs/index.rst
  docs/install.rst
Labels: documentation

#387 Adjustable stellar priors (attempt #2)
  beast/examples/phat_small/datamodel.py
  beast/examples/phat_small/run_beast.py
  beast/fitting/tests/test_trim_grid.py
  beast/observationmodel/tests/test_simobs.py
  beast/observationmodel/tests/test_toothpick_noisemodel.py
  beast/physicsmodel/grid_and_prior_weights.py
  beast/physicsmodel/grid_weights_stars.py
  beast/physicsmodel/model_grid.py
  beast/physicsmodel/prior_weights.py
  beast/physicsmodel/prior_weights_dust.py
  beast/physicsmodel/prior_weights_stars.py
  beast/tools/run/create_filenames.py
  beast/tools/run/create_physicsmodel.py
  beast/tools/run/run_fitting.py
  docs/beast_priors.rst
  docs/beast_setup.rst
  docs/index.rst
Labels: stars

#409 fix bug when only one stellar library used in CompositeStellib
  beast/physicsmodel/stars/stellib.py
Labels: bug, stars

#423 Edit Stellar Priors
  beast/physicsmodel/grid_and_prior_weights.py
  beast/physicsmodel/prior_weights_dust.py
  beast/physicsmodel/prior_weights_stars.py
  docs/beast_priors.rst
Labels: bug, stars

#425 Fixing error in ast list generating script
  beast/tools/run/make_ast_inputs.py
  docs/workflow.rst
Labels: artificial stars, bug

#429 Readme fixes
  README.rst
Labels: bug

#431 Documentation about write_sbatch_file.py
  beast/tools/write_sbatch_file.py
  docs/workflow.rst
Labels: fitting

#432 code to plot noise models
  beast/plotting/plot_noisemodel.py
  docs/plotting_tools.rst
Labels: plotting
