Repository BEAST-Fitting/beast, pull requests merged in 2020-04, with the labels that each got.

#533 Added unit tests for stellar priors and grid weights
  beast/fitting/fit_metrics/common.py
  beast/physicsmodel/grid_weights_stars.py
  beast/physicsmodel/prior_weights_stars.py
  beast/physicsmodel/tests/test_extinguished_sed_grid.py
  beast/physicsmodel/tests/test_stellar_grid_weights.py
  beast/physicsmodel/tests/test_stellar_prior_weights.py
Labels: tests

#544 Test for star_type_probability
  beast/tools/star_type_probability.py
  beast/tools/tests/test_star_type_probability.py
  docs/analysis_tools.rst
Labels: bug, tests

#547 save SED grid index for selected ASTs
  beast/observationmodel/ast/make_ast_input_list.py
  docs/generating_asts.rst
Labels: artificial stars

#546 remove logL cut and irrelevant comments
  beast/observationmodel/ast/make_ast_input_list.py
Labels: stars

#537 Testing dust prior weights
  beast/physicsmodel/prior_weights_dust.py
  beast/physicsmodel/tests/test_dust_prior_weights.py
Labels: tests

#540 Docs, tests, and cleanup for beast_data
  README.rst
  beast/tools/read_beast_data.py
  beast/tools/tests/test_beast_data.py
  docs/index.rst
  docs/tools_api.rst
Labels: documentation, megabeast, tests, tools

#549 get_noisemodelcat now returns a dictonary
  beast/fitting/fit.py
  beast/fitting/trim_grid.py
  beast/observationmodel/noisemodel/generic_noisemodel.py
  beast/observationmodel/noisemodel/tests/test_generic_noisemodel.py
  beast/observationmodel/observations.py
  beast/plotting/plot_completeness.py
  beast/plotting/plot_noisemodel.py
  beast/tools/remove_filters.py
  beast/tools/run/run_fitting.py
  beast/tools/subgridding_tools.py
  beast/tools/tests/test_subgridding_tools.py
Labels: bug

#552 Updated fitting docstrings
  beast/fitting/fit.py
  beast/fitting/pdf1d.py
  beast/fitting/pdf2d.py
  beast/fitting/trim_grid.py
  docs/fitting_api.rst
Labels: documentation
