Repository BEAST-Fitting/beast, pull requests merged in 2020-06, with the labels that each got.

#571 Increase number of PDF bins
  beast/fitting/fit.py
  beast/fitting/tests/test_fit_grid.py
  beast/tools/run/run_fitting.py
Labels: fitting

#573 Fix travis errors
  beast/observationmodel/ast/datamodel.py
  beast/observationmodel/ast/make_ast_xy_list.py
  beast/physicsmodel/stars/kurucz/generate.py
  beast/tools/datamodel.py
  beast/tools/run/create_filenames.py
  beast/tools/run/create_obsmodel.py
  beast/tools/run/create_physicsmodel.py
  beast/tools/run/datamodel.py
  beast/tools/run/make_ast_inputs.py
  beast/tools/run/make_trim_scripts.py
  beast/tools/run/merge_files.py
  beast/tools/run/run_fitting.py
  beast/tools/setup_batch_beast_fit.py
  beast/tools/trim_many_via_obsdata.py
Labels: bug

#583 adding badges, removing files
  CHANGES.rst
  README.rst
  appveyor.yml
  beast/physicsmodel/stars/stellib.py
  docs/beast_grid_inputs.rst
  docs/index.rst
  licenses/README.rst
Labels: packaging

#579 beast_settings (previously datamodel) class
  beast/observationmodel/ast/datamodel.py
  beast/observationmodel/ast/make_ast_xy_list.py
  beast/tools/beast_settings.py
  beast/tools/cut_catalogs.py
  beast/tools/datamodel.py
  beast/tools/run/create_filenames.py
  beast/tools/run/create_obsmodel.py
  beast/tools/run/create_physicsmodel.py
  beast/tools/run/datamodel.py
  beast/tools/run/make_ast_inputs.py
  beast/tools/run/make_trim_scripts.py
  beast/tools/run/merge_files.py
  beast/tools/run/run_fitting.py
  beast/tools/setup_batch_beast_fit.py
  beast/tools/setup_batch_beast_trim.py
  beast/tools/tests/test_beast_settings.py
  beast/tools/tests/test_verify_beast_settings.py
  beast/tools/tests/test_verify_warnings.py
  beast/tools/trim_many_via_obsdata.py
  beast/tools/verify_beast_settings.py
  docs/beast_priors.rst
  docs/beast_setup.rst
  docs/generating_asts.rst
  docs/simulations.rst
  docs/subgrid_parallelism.rst
  docs/workflow.rst
Labels: bug, gold-star

#589 Move regression tests to a class
  .github/workflows/tox-tests.yml
  beast/config.py
  beast/fitting/tests/test_fit_grid.py
  beast/fitting/tests/test_trim_grid.py
  beast/observationmodel/noisemodel/tests/test_generic_noisemodel.py
  beast/observationmodel/noisemodel/tests/test_splinter_noisemodel.py
  beast/observationmodel/tests/test_ast_input_list.py
  beast/observationmodel/tests/test_simobs.py
  beast/observationmodel/tests/test_toothpick_noisemodel.py
  beast/physicsmodel/stars/ezmist/mist.py
  beast/physicsmodel/stars/ezpadova/parsec.py
  beast/physicsmodel/stars/tests/test_padova_isochrone_download.py
  beast/physicsmodel/stars/tests/test_spectral_grid.py
  beast/physicsmodel/tests/test_extinguished_sed_grid.py
  beast/tests/helpers.py
  beast/tests/test_regresscheck.py
  beast/tools/tests/test_beast_data.py
  beast/tools/tests/test_beast_settings.py
  beast/tools/tests/test_compare_spec_type.py
  beast/tools/tests/test_star_type_probability.py
  beast/tools/tests/test_subgridding_tools.py
Labels: tests

#592 Some tests for run tools and subgrids
  beast/tests/beast_settings_for_tests.txt
  beast/tests/test_regresscheck.py
  setup.cfg
Labels: tests

#596 Add vega magnitudes (and fluxes) to simulations
  beast/main.py
  beast/observationmodel/observations.py
  beast/physicsmodel/model_grid.py
  beast/plotting/plot_cmd.py
  beast/tests/test_regresscheck.py
  beast/tools/run/create_physicsmodel.py
  beast/tools/simulate_obs.py
  docs/simulations.rst
  setup.cfg
Labels: bug, simulations

#599 typo in sim docs
  docs/simulations.rst
Labels: documentation
