Repository BEAST-Fitting/beast, pull requests merged in 2020-09, with the labels that each got.

#612 Update the regression test to METAL observed/AST dataset
  beast/observationmodel/noisemodel/tests/test_splinter_noisemodel.py
  beast/physicsmodel/prior_weights_dust.py
  beast/plotting/plot_cmd.py
  beast/plotting/plot_cmd_with_fits.py
  beast/plotting/plot_indiv_fit.py
  beast/plotting/plot_noisemodel.py
  beast/plotting/tests/test_plots.py
  beast/tests/helpers.py
  beast/tests/test_regresscheck.py
  beast/tools/convert_hdf5_to_fits.py
  beast/tools/tests/test_remove_filters.py
  beast/tools/tests/test_write_sbatch_file.py
Labels: tests

#605 Simulation & toothpick observationmodel improvements
  beast/fitting/fit.py
  beast/fitting/trim_grid.py
  beast/main.py
  beast/observationmodel/noisemodel/generic_noisemodel.py
  beast/observationmodel/noisemodel/toothpick.py
  beast/observationmodel/observations.py
  beast/physicsmodel/stars/stellib.py
  beast/plotting/plot_ast_histogram.py
  beast/plotting/plot_chi2_hist.py
  beast/plotting/plot_cmd_with_fits.py
  beast/plotting/plot_completeness.py
  beast/plotting/plot_filters.py
  beast/plotting/plot_indiv_fit.py
  beast/plotting/plot_indiv_pdfs.py
  beast/plotting/plot_mag_hist.py
  beast/plotting/plot_noisemodel.py
  beast/plotting/plot_param_err.py
  beast/plotting/plot_param_recovery.py
  beast/plotting/plot_param_vs_chi2min.py
  beast/plotting/plot_toothpick_details.py
  beast/plotting/tests/test_plots.py
  beast/tests/beast_settings_for_tests.txt
  beast/tests/test_regresscheck.py
  beast/tools/simulate_obs.py
  docs/beast_grid_inputs.rst
  docs/index.rst
  docs/plotting_api.rst
  docs/plotting_tools.rst
  docs/simulations.rst
Labels: bug, plotting, simulations

#614 splitting catalogs by source density: add keyword for minimum number of sub-files
  beast/tools/split_catalog_using_map.py
  docs/workflow.rst
Labels: observation

#618 Simulations based on age/mass prior model
  beast/fitting/fit.py
  beast/observationmodel/observations.py
  beast/physicsmodel/model_grid.py
  beast/physicsmodel/prior_weights_stars.py
  beast/physicsmodel/tests/test_stellar_prior_weights.py
  beast/plotting/beastplotlib.py
  beast/plotting/plot_cmd.py
  beast/plotting/plot_indiv_fit.py
  beast/plotting/plot_toothpick_details.py
  beast/tests/helpers.py
  beast/tests/test_regresscheck.py
  beast/tools/beast_info.py
  beast/tools/run/run_fitting.py
  beast/tools/simulate_obs.py
  beast/tools/symlog.py
  beast/tools/tests/test_symlog.py
  docs/beast_example_phat_ifit_starnum_0.png
  docs/example.rst
  docs/images/beast_metal_small_ifit_starnum_0.png
  docs/images/metal_small_sim_f475w_nsim_plot.png
  docs/images/metal_small_sim_f475w_prior_plot.png
  docs/outputs.rst
  docs/simulations.rst
  setup.cfg
Labels: gold-star, megabeast, simulations

#620 subgrid merging updates (lnP fixes, new stats info columns)
  beast/tools/subgridding_tools.py
Labels: fitting
