Repository BEAST-Fitting/beast, pull requests merged in 2020-01, with the labels that each got.

#477 failing Spectral Grid tests after astropy 4.0 upgrade
  beast/tests/helpers.py
Labels: stars, tests

#478 docs: fixing docstrings formatting
  beast/physicsmodel/helpers/gridbackends.py
  beast/physicsmodel/helpers/gridhelpers.py
  beast/physicsmodel/helpers/hdfstore.py
Labels: documentation

#479 simplify 1D PDF code
  beast/fitting/pdf1d.py
Labels: fitting

#491 Remove logL=-9.999 points in the spec grid stage not to allow them in the final SED grid
  beast/tools/run/create_physicsmodel.py
Labels: bug, stars

#480 Fixed website link and added links to papers in Spectral Models section
  docs/beast_grid_inputs.rst
Labels: documentation, stars

#482 Update the percentile function to speed up
  beast/fitting/fit_metrics/common.py
Labels: fitting

#495 Make 2D PDFs
  beast/fitting/fit.py
  beast/fitting/pdf2d.py
  beast/plotting/plot_indiv_pdfs.py
  beast/tools/run/create_filenames.py
  beast/tools/run/run_fitting.py
  beast/tools/setup_batch_beast_fit.py
  docs/index.rst
  docs/outputs.rst
  docs/plotting_tools.rst
  docs/workflow.rst
Labels: fitting

#493 Merging lnPs and file reading tools
  beast/tools/read_beast_data.py
  beast/tools/run/merge_files.py
  beast/tools/subgridding_tools.py
  docs/outputs.rst
  docs/subgrid_parallelism.rst
  docs/workflow.rst
Labels: fitting
