Repository BEAST-Fitting/beast, pull requests merged in 2020-03, with the labels that each got.

#507 Fix warnings in verify_params
  beast/tools/tests/test_verify_warnings.py
  beast/tools/verify_params.py
  docs/beast_setup.rst
Labels: bug

#474 Added code to convert hdf5 to fits
  beast/plotting/plot_mag_hist.py
  beast/tools/convert_hdf5_to_fits.py
  beast/tools/tests/test_convert_hdf5_to_fits.py
  docs/index.rst
  docs/other_tools.rst
  docs/workflow.rst
Labels: gold-star, tools

#519 Updates to remove_filters.py
  beast/tools/remove_filters.py
  docs/simulations.rst
  docs/workflow.rst
Labels: fitting

#516 distance grid and prior weights (fixes multidistance bug)
  beast/physicsmodel/grid_and_prior_weights.py
  beast/physicsmodel/grid_weights_stars.py
  beast/physicsmodel/model_grid.py
  beast/physicsmodel/prior_weights_stars.py
  beast/physicsmodel/tests/test_stellar_grid_weights.py
  beast/physicsmodel/tests/test_stellar_prior_weights.py
  beast/tools/run/create_physicsmodel.py
  docs/beast_priors.rst
Labels: bug, fitting, gold-star, stars

#506 compare BEAST results to spectrally typed stars
  beast/tools/compare_spec_type.py
  beast/tools/data/effective_temperature.txt
  beast/tools/data/surface_gravity.txt
  docs/analysis_tools.rst
  setup.cfg
Labels: stars, tests

#513 read_beast_data.py: option to read in whole SED grid
  beast/tools/read_beast_data.py
Labels: tools

#518 Changes for more high mass stars in simulated catalogs
  beast/observationmodel/observations.py
  beast/physicsmodel/prior_weights_stars.py
  beast/tools/simulate_obs.py
  docs/beast_priors.rst
  docs/simulations.rst
Labels: stars
