Repository BEAST-Fitting/beast, pull requests merged in 2022-03, with the labels that each got.

#757 Script for generating main libfile
  beast/tools/make_libfile.py
  setup.cfg
Labels: bug, enhancement, fitting

#765 New regression test directory and files
  beast/tests/test_regresscheck.py
Labels: tests

#761 Fix verifying beast setting
  beast/tools/verify_beast_settings.py
  docs/beast_setup.rst
Labels: bug

#767 Extinction curves that extend below 912 A
  beast/physicsmodel/dust/extinction.py
  beast/physicsmodel/dust/extinction_extension.py
  beast/physicsmodel/dust/tests/test_extinction_extension.py
  docs/beast_grid_inputs.rst
  docs/physicsmodel_api.rst
Labels: dust, gold-star
